@model TemperatureTest.Models.Person

@{
    ViewBag.Title = "Result";
}

<h1>Thank you @Model.Name!</h1>
<h2>@ViewBag.TestMessage</h2>









<!--
@if (Model.Temperature==37)
{
    @:Great!you are ok ,And your temperature is normal.
    }
else
{
    @:Your temperature is not normal ,you have to visit the doctor.
    }
-->